<section class="about">
    <div class="container">
        <h2 class="section-title__line section-title about__title">Who are we?</h2>
        <p class="about__text">
            Founded in 2010,Rhino Rescue began as a pre-hospital emergency product supplier. Based on the concept of
            fast, efficient and scientific transfer of emergency care, we continuously improve and innovate our
            products, providing premium first aid and IFAK supplies to worldwide front-line emergency medical personnel.
            In the EMS specialty, we are your professional partner.
        </p>
        <div class="about__video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/VzMJls-w9gQ"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
    </div>
</section>