<section class="benefits">
    <div class="container">
        <div class="benefits__inner">
            <div class="benefits__item">
                <img class="benefits__img" src="../images/benefits/1.webp" alt="DESIGN IN THE USA">
                <div class="benefits__item-text">DESIGN IN THE USA</div>
            </div>
            <div class="benefits__item">
                <img class="benefits__img" src="../images/benefits/2.avif" alt="LIFETIME GUARANTEE">
                <div class="benefits__item-text">LIFETIME GUARANTEE</div>
            </div>
            <div class="benefits__item">
                <img class="benefits__img" src="../images/benefits/3.webp" alt="HSA/FSA APPROVED">
                <div class="benefits__item-text">HSA/FSA APPROVED</div>
            </div>
            <div class="benefits__item">
                <img class="benefits__img" src="../images/benefits/4.webp" alt="LIFESAVING GEAR">
                <div class="benefits__item-text">LIFESAVING GEAR</div>
            </div>
        </div>
    </div>
</section>