<section class="best-sales">
    <div class="container">
        <h2 class="best-sales__title">Rhino Rescue Best Sales</h2>
        <p class="best-sales__subtitle">Our Bestsellers</p>
        <div class="best-sales__inner">
            <div class="best-sales__column">
                <div class="best-sales__item">
                    <div class="best-sales__btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="best-sales__img" src="../images/content/best-sales-min-1.webp" alt="best-sales-min">
                </div>
                <div class="best-sales__item">
                    <div class="best-sales__btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="best-sales__img" src="../images/content/best-sales-min-2.webp" alt="best-sales-min">
                </div>
                <div class="best-sales__item">
                    <div class="best-sales__btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="best-sales__img" src="../images/content/best-sales-min-3.webp" alt="best-sales-min">
                </div>
            </div>

            <div class="best-sales__column">
                <div class="best-sales__item-main">
                    <div class="best-sales__main-btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="best-sales__main-btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="best-sales__main-btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="best-sales__main-img" src="../images/best-sales-main.webp" alt="best-sales-min">
                </div>
            </div>

            <div class="best-sales__column">
                <div class="best-sales__item">
                    <div class="best-sales__btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="best-sales__img" src="../images/content/best-sales-min-4.webp" alt="best-sales-min">
                </div>
                <div class="best-sales__item">
                    <div class="best-sales__btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="best-sales__img" src="../images/content/best-sales-min-5.webp" alt="best-sales-min">
                </div>
                <div class="best-sales__item">
                    <div class="best-sales__btn">
                        <span class="best-sales__circle"></span>
                        <div class="best-sales__product-item">
                            <div class="best-sales__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content best-sales__content">
                                <h3 class="products-item__title best-sales__products-title">
                                    <a class="products-item__link best-sales__products-link" href="#">
                                        RHINO QF-001 Bleed Control IFAK
                                    </a>
                                </h3>
                                <div class="products-reiting__box">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                    <img src="../images/icons/star.svg" alt="star">
                                </div>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <img class="best-sales__img" src="../images/content/best-sales-min-6.webp" alt="best-sales-min">
                </div>
            </div>
        </div>
    </div>
</section>