<section class="products essentials">
    <div class="container">
        <h2 class="section-title__line section-title">Trauma Essentials</h2>
        <div class="itc-slider">
            <div class="itc-slider__wrapper">
                <div class="itc-slider__items">
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <span class="products__items-onsale">
                                        <span>-12%</span>
                                    </span>
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/1.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/2.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/22.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <span class="products__items-onsale">
                                        <span>-37%</span>
                                    </span>
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/23.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/24.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/3.jpg" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/33.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/34.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/35.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="itc-slider__item essential-item">
                        <div class="products-item essentials-item">
                            <div class="products-item__box essentials-item__box">
                                <a class="products__link" href="#">
                                    <span class="products__items-onsale">
                                        <span>-27%</span>
                                    </span>
                                    <div class="products-item__img-box">
                                        <img class="products__img" src="../images/product/1.webp" alt="product">
                                    </div>
                                </a>
                                <div class="products-item__menu-box">
                                    <a class="products-item__menu-link" href="#">
                                        Quick View
                                    </a>
                                    <a class="products-item__menu-link" href="#">
                                        Quick Shop
                                    </a>
                                </div>
                            </div>
                            <div class="products-item__content">
                                <h3 class="products-item__title">
                                    <a class="products-item__link" href="#">
                                        Rhino Rescue Tourniquet Storage
                                    </a>
                                </h3>
                                <span class="products-item__price">
                                    from
                                    <span class="products-item__money">Br 728,294.00</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Кнопки для перехода к предыдущему и следующему слайду -->
            <button class="itc-slider__btn itc-slider__btn_prev"></button>
            <button class="itc-slider__btn itc-slider__btn_next"></button>
        </div>
    </div>
</section>