<div class="footer__top">
    <div class="container">
        <a class="footer__top-link" href="#">
            <p class="footer__top-text">
                We appreciate your interest in doing business with Rhino Rescue.If you’d like to carry RhinoRescue
                products at your store or on your website, please contact customer service with your information at
                support@rhinorescuestore.com . They will review your information and let you know if you meet the
                qualifications for a B2B account.
            </p>
        </a>
    </div>
</div>