<section class="packs products">
    <div class="container">
        <h2 class="section-title__line">Medic Packs</h2>
        <div class="packs__inner products__inner">
            <div class="products-item">
                <div class="products-item__box packs-item__box">
                    <a class="products__link" href="#">
                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/2.webp" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link" href="#">
                            Quick View
                        </a>
                        <a class="products-item__menu-link" href="#">
                            Quick Shop
                        </a>
                    </div>
                </div>
                <div class="products-item__content">
                    <h3 class="products-item__title">
                        <a class="products-item__link" href="#">
                            Rhino Rescue Tourniquet Storage
                        </a>
                    </h3>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item__box packs-item__box">
                    <a class="products__link" href="#">
                        <span class="products__items-onsale">
                            <span>-2%</span>
                        </span>
                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/24.webp" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link" href="#">
                            Quick View
                        </a>
                        <a class="products-item__menu-link" href="#">
                            Quick Shop
                        </a>
                    </div>
                </div>
                <div class="products-item__content">
                    <h3 class="products-item__title">
                        <a class="products-item__link" href="#">
                            Rhino Rescue Tourniquet Storage
                        </a>
                    </h3>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item__box packs-item__box">
                    <a class="products__link" href="#">

                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/34.webp" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link" href="#">
                            Quick View
                        </a>
                        <a class="products-item__menu-link" href="#">
                            Quick Shop
                        </a>
                    </div>
                </div>
                <div class="products-item__content">
                    <h3 class="products-item__title">
                        <a class="products-item__link" href="#">
                            Rhino Rescue Tourniquet Storage
                        </a>
                    </h3>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>

            <div class="products-item">
                <div class="products-item__box packs-item__box">
                    <a class="products__link" href="#">

                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/2.webp" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link" href="#">
                            Quick View
                        </a>
                        <a class="products-item__menu-link" href="#">
                            Quick Shop
                        </a>
                    </div>
                </div>
                <div class="products-item__content">
                    <h3 class="products-item__title">
                        <a class="products-item__link" href="#">
                            Rhino Rescue Tourniquet Storage
                        </a>
                    </h3>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>