<div class="container">
    <div class="goods__inner">
        <div class="goods__img-box">
            <img src="../images/goods/1.webp" alt="goods-main">


        </div>
        <div class="goods__info-box">
            <h1 class="goods__title">RHINO RESCUE™ IFAK Trauma Kit</h1>
            <div class="products-reiting__box">
                <span class="rating-star"></span>
                <span class="rating-star"></span>
                <span class="rating-star"></span>
                <span class="rating-star"></span>
                <span class="rating-star"></span>
            </div>
            <div class="reviews-numb"><span>97</span> reviews</div>
            <div class="goods__price"><span>Br</span> 2,477,930.00</div>
            <div class="goods__shipping">
                <a class="goods__info-link goods__shipping-link" href="#">Shipping</a>
                calculated at checkout.
            </div>
            <div class="goods__discount">
                <a class="goods__info-link goods__discount-link" href="#">
                    Apply to get the wholesale discount
                </a>
            </div>
            <form class="form__goods" action="#">
                <div class="goods__color">
                    COLOR: <span>RED(SHIPPING TIME: 2 DAYS EUROPEAN COUNTRIES)</span>
                </div>
            </form>
            <form class="form__goods goods__together" action="#">
                <h2 class="goods__together-subtitle">
                    Frequently Bought Together
                </h2>
                <ul class="goods__together-list">
                    <li class="goods__together-item">
                        <a class="goods__together-link" href="#">
                            <img src="../images/goods/together/1.avif" alt="goods together" class="goods__together-img">
                        </a>
                    </li>
                    <li class="goods__together-item">+</li>
                    <li class="goods__together-item">
                        <a class="goods__together-link" href="#">
                            <img src="../images/goods/together/2.avif" alt="goods together" class="goods__together-img">
                        </a>
                    </li>
                    <li class="goods__together-item">+</li>
                    <li class="goods__together-item">
                        <a class="goods__together-link" href="#">
                            <img src="../images/goods/together/3.avif" alt="goods together" class="goods__together-img">
                        </a>
                    </li>
                    <li class="goods__together-item">+</li>
                    <li class="goods__together-item">
                        <a class="goods__together-link" href="#">
                            <img src="../images/goods/together/4.avif" alt="goods together" class="goods__together-img">
                        </a>
                    </li>
                    <li class="goods__together-item">+</li>
                    <li class="goods__together-item">
                        <a class="goods__together-link" href="#">
                            <img src="../images/goods/together/5.avif" alt="goods together" class="goods__together-img">
                        </a>
                    </li>
                </ul>
                <div class="goods__together-total-price">
                    Total price:
                    <div>
                        <span>Br</span> 117,988,772.00
                    </div>
                    <button class="goods__together-order-btn" type="submit">ADD SELECTED TO CART</button>
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                    <input type="checkbox">
                </div>
            </form>
        </div>
    </div>
    <div class="goods__content">
        <div class="goods__tabs">
            <div class="goods__tabs-control">
                <button class="goods__tabs-control-btn goods__tabs-control-btn--active">Description</button>
                <button class="goods__tabs-control-btn ">Reviews</button>
            </div>
            <div class="goods__tabs-content">
                <div class="goods__tabs-content-desc anim__opas goods__tabs-content-block goods__tabs--active">
                    <table class="a-normal a-spacing-micro">
                        <tbody>
                            <tr class="a-spacing-small po-brand">
                                <td class="a-span3">
                                    <span class="a-size-base a-text-bold">Brand</span>
                                </td>
                                <td class="a-span9">
                                    <span class="a-size-base">RHINO RESCUE</span>
                                </td>
                            </tr>
                            <tr class="a-spacing-small po-item_dimensions">
                                <td class="a-span3">
                                    <span class="a-size-base a-text-bold">Item Dimensions LxWxH</span>
                                </td>
                                <td class="a-span9">
                                    <span class="a-size-base">7.09 x 5.12 x 8.27 inches</span>
                                </td>
                            </tr>
                            <tr class="a-spacing-small po-item_weight">
                                <td class="a-span3">
                                    <span class="a-size-base a-text-bold">Item Weight</span>
                                </td>
                                <td class="a-span9">
                                    <span class="a-size-base">1 Kilograms</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <h2 class="goods__content-title">About this item</h2>
                    <ul>
                        <li class="agoods__content-item">
                            <p class="goods__tabs-content-desc-text">
                                A PREMIUM VERSION OF OUR POPULAR IFAK KIT - This version of our classic IFAK kit was
                                created after sourcing community feedback, featuring improved and additional equipment
                                for a more complete first aid experience.
                            </p>
                        </li>
                        <li class="agoods__content-item">
                            <p class="goods__tabs-content-desc-text">
                                【Massive Hemorrhage and Circulatory Care】: This kit contains the most use friendly,
                                compact and popular survival and first aid supplies for massive bleeding control on the
                                market, which includes: military combat tourniquet, tactical Israeli pressure dressing,
                                and compressed gauze.
                            </p>
                        </li>
                        <li class="agoods__content-item">
                            <p class="goods__tabs-content-desc-text">
                                【Respiratory, Airway and Hypothermia Treatment】: There are already two non-vented chest
                                seals for sucking chest wounds and 28F naso tube for airway packed in this kit. While a
                                shock often occurs after massive loss of blood, which comes hand in hand with a drop of
                                body temperature. The emergency thermal blanket included is to designed to keep body
                                temperature warm as a treatment for hypothermia.
                            </p>
                        </li>
                        <li class="agoods__content-item">
                            <p class="goods__tabs-content-desc-text">
                                【Bone Fracture Treatment】: 36 Inch Splint Roll to keep your bones in position, triangle
                                bandage and elastic bandage to wrap around and secure the limb from moving around.
                                Together the Splint Roll, Triangle Bandage, and Elastic Bandage are purposely selected
                                in this kit for any bone fracture of your limbs.
                            </p>
                        </li>
                    </ul>
                    <p class="goods__tabs-content-desc-text">
                        Note: Products with electrical plugs are designed for use in the US. Outlets and voltage differ
                        internationally and this product may require an adapter or converter for use in your
                        destination. Please check compatibility before purchasing.
                    </p>
                    <div class="goods__tabs-content-img-box">
                        <img src="../images/goods/together/1.avif" alt="goods">
                        <img src="../images/goods/together/1.avif" alt="goods">
                        <img src="../images/goods/together/1.avif" alt="goods">
                    </div>
                </div>

                <div class="goods__tabs-content-rev anim__opas goods__tabs-content-block">
                    <p class="goods__tabs-content-rev-text">
                        Задача организации, в особенности же постоянное
                        информационно-пропагандистское обеспечение нашей деятельности влечет за
                        собой процесс внедрения и модернизации дальнейших направлений развития.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="goods__faq">
        <h2 class="goods__faq-title">People usually asked</h2>
        <div class="goods__faq-item">
            <h3 class="goods__faq-title">Q1：Do you have a wholesale price?</h3>
            <p class="goods__faq-text">A：support@rhinorescuestore.com.Rhino rescue colleagues will communicate with you.
            </p>
        </div>
        <div class="goods__faq-item">
            <h3 class="goods__faq-title">Q2: When will the order send？</h3>
            <p class="goods__faq-text">A: Will be shipped within 48 hours, expected to arrive in 10-14 days. The
                shipping time for large packages will be longer, you can wait patiently. If you do not receive your
                order in the end, we will give you a refund.</p>
        </div>
        <div class="goods__faq-item">
            <h3 class="goods__faq-title">Q3: Can this product deliver to **place？</h3>
            <p class="goods__faq-text">A: You can order it. If the logistics support, we will ship directly.</p>
        </div>
        <div class="goods__faq-item">
            <h3 class="goods__faq-title">Q4: If the customer files a dispute, how to refund?</h3>
            <p class="goods__faq-text">A:The money will refund to your original mode of payment. You can confirm whether
                the money is arrived./p>
        </div>
    </div>
    <div class="goods__also">
        <h2 class="goods__also-title">You may also like</h2>
        <div class="goods__also-box">
            <div class="goods__also-item" data-best="first-first">
                <div class="best-sales__box">
                    <a class="products__link" href="#">
                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/3.jpg" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link products-item__menu-link-view" data-front="Quick View"
                            href="#"></a>
                        <a class="products-item__menu-link products-item__menu-link-shop" data-front="Quick Shop"
                            href="#"></a>
                    </div>
                </div>
                <div class="products-item__content best-sales__content">
                    <h3 class="products-item__title best-sales__products-title">
                        <a class="products-item__link best-sales__products-link" href="#">
                            RHINO QF-001 Bleed Control IFAK
                        </a>
                    </h3>
                    <div class="products-reiting__box">
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                    </div>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>

            <div class="goods__also-item" data-best="first-first">
                <div class="best-sales__box">
                    <a class="products__link" href="#">
                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/3.jpg" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link products-item__menu-link-view" data-front="Quick View"
                            href="#"></a>
                        <a class="products-item__menu-link products-item__menu-link-shop" data-front="Quick Shop"
                            href="#"></a>
                    </div>
                </div>
                <div class="products-item__content best-sales__content">
                    <h3 class="products-item__title best-sales__products-title">
                        <a class="products-item__link best-sales__products-link" href="#">
                            RHINO QF-001 Bleed Control IFAK
                        </a>
                    </h3>
                    <div class="products-reiting__box">
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                    </div>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>

            <div class="goods__also-item" data-best="first-first">
                <div class="best-sales__box">
                    <a class="products__link" href="#">
                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/3.jpg" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link products-item__menu-link-view" data-front="Quick View"
                            href="#"></a>
                        <a class="products-item__menu-link products-item__menu-link-shop" data-front="Quick Shop"
                            href="#"></a>
                    </div>
                </div>
                <div class="products-item__content best-sales__content">
                    <h3 class="products-item__title best-sales__products-title">
                        <a class="products-item__link best-sales__products-link" href="#">
                            RHINO QF-001 Bleed Control IFAK
                        </a>
                    </h3>
                    <div class="products-reiting__box">
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                    </div>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>

            <div class="goods__also-item" data-best="first-first">
                <div class="best-sales__box">
                    <a class="products__link" href="#">
                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/3.jpg" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link products-item__menu-link-view" data-front="Quick View"
                            href="#"></a>
                        <a class="products-item__menu-link products-item__menu-link-shop" data-front="Quick Shop"
                            href="#"></a>
                    </div>
                </div>
                <div class="products-item__content best-sales__content">
                    <h3 class="products-item__title best-sales__products-title">
                        <a class="products-item__link best-sales__products-link" href="#">
                            RHINO QF-001 Bleed Control IFAK
                        </a>
                    </h3>
                    <div class="products-reiting__box">
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                    </div>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>

            <div class="goods__also-item" data-best="first-first">
                <div class="best-sales__box">
                    <a class="products__link" href="#">
                        <div class="products-item__img-box">
                            <img class="products__img" src="../images/product/3.jpg" alt="product">
                        </div>
                    </a>
                    <div class="products-item__menu-box">
                        <a class="products-item__menu-link products-item__menu-link-view" data-front="Quick View"
                            href="#"></a>
                        <a class="products-item__menu-link products-item__menu-link-shop" data-front="Quick Shop"
                            href="#"></a>
                    </div>
                </div>
                <div class="products-item__content best-sales__content">
                    <h3 class="products-item__title best-sales__products-title">
                        <a class="products-item__link best-sales__products-link" href="#">
                            RHINO QF-001 Bleed Control IFAK
                        </a>
                    </h3>
                    <div class="products-reiting__box">
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                        <span class="rating-star"></span>
                    </div>
                    <span class="products-item__price">
                        from
                        <span class="products-item__money">Br 728,294.00</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>