html,
body {
    height: 100%;
    position: relative;
}

body {
    @extend %golos-500;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    color: #222222;
}

.container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

.container-catalog {
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

/* .breadcrumbs {
    display: flex;
    justify-content: center;
    padding: 10px 0;

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        margin-right: 25px;
        color: $text;
        cursor: pointer;

        &::after {
            content: "";
            position: absolute;
            background-image: url(../images/icons/arrow-right.svg);
            top: 5px;
            right: -20px;
            width: 15px;
            height: 15px;
        }

        &:last-child::after {
            display: none;
        }
    }

    &__link {
        color: inherit;

        &:hover {
            color: $title;
        }
    }
} */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background: #FFFFFF;
    padding: 30px 0 100px;
    border-top: 1px solid #ddd;

    &__link {
        border-radius: 40px;
        font-size: 13px;
        color: $text;
        padding: 10px 20px;
        transition: color .3s;

        &--active {
            color: $red;
        }

        &:hover {
            color: $red;
            transition: color .3s;
        }
    }
}