@import 'vars';
/* Переменные */






.cart__form-btn-pay,
.cart__form-btn-shopay {
    background: #5a31f4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 54px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cart__form-btn-pay-paypal {
    background: #ffc439;
}

.cart__form-btn-pay-google {
    background: #000;
}

.cart__form-content {
    display: flex;
    justify-content: space-between;
}







.cart {
    padding: 100px 0 50px;
}

.cart__top {
    height: 155px;
    background-image: url(../images/cart/cart-top-bg.webp);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    &::before {
        content: '';
        opacity: 0.5;
        position: absolute;
        background: #000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 90;
    }
}

.cart__top-box {
    position: relative;
    z-index: 100;
}

.cart__title {
    @extend %golos-500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: #ededed;
    text-transform: uppercase;
}

.cart__form {
    padding: 60px 0;
}

.cart__form-inner {}

//CART-grid
.cart__form-inner-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px repeat(3, 1fr);
}

.cart__form-title:nth-child(1) {
    grid-area: 1 / 1 / 2 / 4;
}

.cart__form-title:nth-child(2) {
    text-align: center;
    grid-area: 1 / 4 / 2 / 5;
}

.cart__form-title:nth-child(3) {
    text-align: center;
    grid-area: 1 / 5 / 2 / 6;
}

.cart__form-title:nth-child(4) {
    text-align: right;
    grid-area: 1 / 6 / 2 / 7;
}

.cart__form-title {
    @extend %golos-600;
    font-size: 14px;
    line-height: 24px;
    color: $text;
    text-transform: uppercase;
    padding: 20px 0 6px;
}

.cart__product-items {
    border-bottom: 1px solid #ddd;
}

//PRODUCT-grid
.cart__product-item {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-top: 1px solid #ddd;
    padding: 30px 0;
    align-items: center;
}

.cart__product-col {
    display: flex;
    column-gap: 15px;
    grid-area: 1 / 1 / 2 / 4;
}

.cart__product-price {
    text-align: center;
    grid-area: 1 / 4 / 2 / 5;
    cursor: pointer;
}

.cart__product-count {
    text-align: center;
    grid-area: 1 / 5 / 2 / 6;
    cursor: pointer;
}

.cart__product-total {
    cursor: pointer;
    text-align: right;
    grid-area: 1 / 6 / 2 / 7;
}


.cart__product-img {}

.cart__product-box {
    display: flex;
    flex-direction: column;
}

.cart__product-title {
    @extend %golos-600;
    font-size: 14px;
    line-height: 20px;
    color: $text;
    margin-bottom: 5px;
    transition: color .3s;
    cursor: pointer;

    &:hover {
        transition: color .3s;
        color: $accent;
    }
}

.cart__product-descr {
    color: #878787;
    font-size: 13px;
    line-height: 23px;
    padding-bottom: 5px;

    & span {
        @extend %golos-600;
    }
}

.cart__product-icons {
    display: flex;
    column-gap: 10px;
    margin-top: auto;
}

.cart__product-link {
    position: relative;
    transition: color .5s;

    &:hover {
        .cart__product-popup {
            visibility: visible;
            opacity: 1;
            top: -45px;
            right: -40px;
            z-index: 10;
        }

        transition: all .5s;

        svg path {
            transition: all .5s;
            stroke: $accent;
        }
    }
}


.cart__product-popup {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    display: inline-block;
    background: #383838;
    color: $white;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 12px;
    white-space: nowrap;

    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        left: 50%;
        bottom: -5px;
        background: #383838;
        transform: rotate(43deg);
    }
}



.cart__form-content {}

.cart__form-coupone {}

.cart__form-coupone-row {}

.cart__form-coupone-title {}

.cart__form-coupone-textarea {}

.cart__form-coupone-label {}

.cart__form-coupone-text {}

.cart__form-coupone-input {}

.cart__form-total {}

.cart__form-total-row {}

.cart__form-total-text {}

.cart__form-btn {}

.cart__form-btn-pay {}

.cart__form-btn-shopay {}

.cart__form-btn-pay-paypal {}

.cart__form-btn-pay-google {}

.cart__shipping {}

.cart__shipping-title {}

.cart__shipping-row {}

.cart__shipping-box {}

.cart__shipping-ladel {}

.cart__shipping-select {}

.cart__shipping-label {}

.cart__shipping-input {}

.cart__copmlete-product {}

.itc-slider {}

.products__inner {}

.itc-slider__wrapper {}

.itc-slider__items {}

.itc-slider__item {}

.kits-slider__item {}

.products-item {}

.products-item__box {}

.products__link {}

.products-item__img-box {}

.products__img {}

.products-item__menu-box {}

.products-item__menu-link {}

.products-item__menu-link-view {}

.products-item__menu-link-shop {}

.products-item__content {}

.products-item__title {}

.products-item__link {}

.products-item__price {}

.products-item__money {}

.itc-slider__indicators {}

.itc-slider__indicator {}

.cart__recently-product {}

.section-title__line {}

.packs__inner {}

.packs-item__box {}

.products__items-onsale {}

@media (max-width: 568px) {}