@import 'vars';
/* Переменные */

.goods {
    padding: 100px 0;

    &__tabs {
        margin-bottom: 70px;

        &-control {
            text-align: center;

            &-btn {
                @extend %golos-600;
                color: #878787;
                font-size: 14px;
                line-height: 17px;
                border: 1px solid transparent;
                background: transparent;
                min-height: 40px;
                border-radius: 40px;
                padding: 0 25px;
                cursor: pointer;

                &--active {
                    border: 1px solid $text;
                    color: $text;

                    &:hover {
                        color: $accent;
                        border: 1px solid $accent;
                        transition: all .3s;
                    }
                }

                &:hover {
                    color: $accent;
                    transition: all .3s;
                }
            }
        }

        &-content-foto {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
        }

        &-content-rev {
            padding: 20px;
        }
    }
}

.goods__info-box {
    max-width: 755px;
}

.goods__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    padding: 30px 0;
}

.goods__title {
    @extend %golos-600;
    font-size: 38px;
    line-height: 55px;
    margin-bottom: 10px;
}

.goods-reiting__box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 3px;
    margin-bottom: 20px;
}

.goods__price {
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    color: #878787;
}

.goods__price-new {
    margin-left: 10px;
    color: #ec0101;
}

.goods__info-link {
    color: #222222;
    transition: color .3s;

    &:hover {
        transition: color .3s;
        color: $accent;
    }
}

.goods__discount,
.goods__price-box,
.goods__color,
.goods__shipping {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}

.goods__also {
    margin-bottom: 50px;
}

.goods__also-item {
    width: 370px;
    min-height: 430px;
    border-radius: 2px;
}

.goods__also-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.goods__together-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 755px;
}

/* .goods__faq {
    padding: 100px 0;
}

.goods__faq-item {
    padding: 30px 0;
}

.goods__faq {
    &-item {
        background: #ffffff;
    }

    &-title {
        position: relative;
        font-size: 16px;
        line-height: 23px;
        color: #a9a9a9;
        margin-bottom: 10px;
        padding-right: 40px;
        cursor: pointer;

        &::after {
            content: url(../images/icons/plus.svg);
            position: absolute;
            top: 0px;
            right: 2px;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            transition: all .5s;
            transform: rotate(90deg);
            background: #8e672f;
        }

        &.active-style {
            &::after {
                transform: rotate(0deg);
                top: 0px;
                right: 0px;
                width: 41px;
                height: 41px;
                transition: all .5s;
                content: url(../images/icons/minus.svg);
                background: #FFFFFF;
            }

            & .goods__faq-item {
                background: #fdf0d5;
            }
        }
    }

    &-text {
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease-out;
        visibility: hidden;
        margin-top: 0;
        font-size: 14px;

        &.active-content {
            opacity: 1;
            margin: 20px 0;
            visibility: visible;
        }
    }
} */


.cart__form-btn {
    border: none;
    color: #fff;
    background-color: $accent;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 40px;
    font-size: 14px;
    @extend %golos-600;
    min-height: 40px;
    transition: background-color .3s;
    text-transform: uppercase;
    width: 100%;

    &:hover {
        transition: background-color .3s;
        background-color: #222222;
    }
}

.cart__form-btn-pay {
    margin-top: 8px;
}

.cart__form-btn-shopay {
    background: #5a31f4;
    transition: background-color .3s;

    &:hover {
        transition: background-color .3s;
        background-color: darken($color: #5a31f4, $amount: 8%);
    }
}

.cart__form-btn-pay {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 44px;
    padding: 12px;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.cart__form-total-row-box {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.cart__form-btn-more {
    @extend %golos-600;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #222;
    padding: 5px 25px;
    background: #fff;
    color: #222;
    border-radius: 40px;
    font-size: 14px;
    min-height: 40px;
    width: 100%;
    margin-top: 8px;
    transition: background-color .3s;

    &:hover {
        transition: border color background-color .3s;
        background-color: $accent;
        text-decoration: underline;
        color: #FFFFFF;
        border: 2px solid #FFFFFF;
    }
}

.goods__together-subtitle {
    font-size: 24px;
    @extend %golos-600;
    line-height: 35px;
    color: #000;
    margin-bottom: 30px;
}

.form__goods {
    padding: 30px 0;
}

.goods__together-total-price {
    font-size: 14px;
    line-height: 24px;
    margin-top: 15px;

    span {
        color: #696969;
    }
}

.goods__together-order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    width: 215px;
    border: none;
    color: #fff;
    background-color: $accent;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 40px;
    font-size: 14px;
    @extend %golos-600;
    min-height: 40px;
    transition: background-color .3s;
    text-transform: uppercase;

    &:hover {
        transition: background-color .3s;
        background-color: #222222;
    }
}

.goods__qiwi-text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}

.goods__qiwi-logo {
    object-fit: cover;
    max-width: 100px;
    margin-bottom: 30px;
}

.goods__table {
    width: 100%;
    border-collapse: collapse;
    color: #696969;
    margin-bottom: 50px;
}

.goods__table-td {
    border: 1px solid #878787;
    padding: 10px;
}

.goods__tabs-control {
    margin-bottom: 50px;
}

.goods__content-title {
    @extend %golos-600;
    font-size: 26px;
    line-height: 37px;
    color: #000000;
}

.goods__tabs-content-desc-text {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.goods__tabs-text-nede {
    margin-bottom: 30px;
}


.goods__tabs-content-img {
    max-width: 700px;
    margin: 0 auto;
    object-fit: cover;
    margin-bottom: 20px;
}

.goods-item__title {
    margin-bottom: 5px;
}

.goods-item__link {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    text-transform: capitalize;
    color: #222222;
    transition: color .3s;
}

.goods-item__price {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.goods-item__content {
    margin-top: 20px;
}

.goods__also-title {
    @extend %golos-600;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}