@import 'vars';
/* Переменные */

.goods {
    padding: 100px 0;

    &__tabs {
        margin-bottom: 70px;

        &-control {
            text-align: center;

            &-btn {
                @extend %golos-600;
                color: #878787;
                font-size: 14px;
                line-height: 17px;
                border: 1px solid transparent;
                background: transparent;
                min-height: 40px;
                border-radius: 40px;
                padding: 0 25px;
                cursor: pointer;

                &--active {
                    border: 1px solid $text;
                    color: $text;

                    &:hover {
                        color: $accent;
                        border: 1px solid $accent;
                        transition: all .3s;
                    }
                }

                &:hover {
                    color: $accent;
                    transition: all .3s;
                }
            }
        }

        &-content-desc {
            padding: 20px;
        }

        &-content-foto {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
        }

        &-content-rev {
            padding: 20px;
        }
    }
}

.goods__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.rating-star::before {
    content: url(../images/icons/star.svg);
}

.goods__also-item {
    width: 370px;
    min-height: 430px;
    border-radius: 2px;
}

.goods__also-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.goods__together-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.goods__faq {
    padding: 100px 0;
}

.goods__faq-item {
    padding: 30px 0;
}



.goods__faq {
    &-item {
        background: #ffffff;
    }

    &-title {
        position: relative;
        font-size: 16px;
        line-height: 23px;
        color: #a9a9a9;
        margin-bottom: 10px;
        padding-right: 40px;
        cursor: pointer;

        &::after {
            content: url(../images/icons/plus.svg);
            position: absolute;
            top: 0px;
            right: 2px;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            transition: all .5s;
            transform: rotate(90deg);
            background: #8e672f;
        }

        &.active-style {
            &::after {
                transform: rotate(0deg);
                top: 0px;
                right: 0px;
                width: 41px;
                height: 41px;
                transition: all .5s;
                content: url(../images/icons/minus.svg);
                background: #FFFFFF;
            }

            /*  & .goods__faq-item {
                background: #fdf0d5;
            } */
        }
    }

    &-text {
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease-out;
        visibility: hidden;
        margin-top: 0;
        font-size: 14px;

        &.active-content {
            opacity: 1;
            margin: 20px 0;
            visibility: visible;
        }
    }
}